* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    user-select: none;
    scroll-behavior: smooth;
    background-color: #ffffff;
}
#side-footer {
    background-color: #ffc771;
    width: 300px;
    height: max-content;
    padding: 150px 0;
    position: fixed;
    display: table-column-group;
}
.footer-img {
    width: 280px;
    position: fixed;
    top: 15px;
    left: 10px;
}
.author {
    color: #d16624;
    padding: 0;
    margin-left: 50px;
    font-size: 50px;
}
#person {
    color: #ff914d;
    margin-left: 20%;
}
button {
    background-color: #d16624;
    color: #ffffff;
    font-size: large;
    font-weight: 600;
    border: 1px solid #d16624;
    border-radius: 4px;
    width: 150px;
    padding: 3px 6px;
}
.copyright,
.richa {
    font-weight: 501;
    text-align: center;
    margin-top: 20%;
}
.copyright {
    font-size: 16px;
}
.richa {
    font-size: 15px;
}