* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    user-select: none;
    scroll-behavior: smooth;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
p {
    color: rgb(31, 31, 31);
}
/*
#side-footer {
    background-color: #ffc771;
    width: 300px;
    height: max-content;
    padding: 150px 0;
    float: left;
    position: fixed;
    display: block;
}
.footer-img {
    width: 280px;
    position: fixed;
    top: 15px;
    left: 10px;
}
.author {
    color: #d16624;
    padding: 0;
    margin: 175px 0 0 40px;
    font-size: 43px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #4b3434;
}
#person {
    color: #ff914d;
    margin-left: 20%;
}
.official {
    color: rgb(17, 17, 17);
}
.official:hover {
    text-decoration: underline;
}
button {
    background-color: #d16624;
    color: #faf3f3;
    font-size: large;
    font-weight: 600;
    border: 1px solid #d16624;
    border-radius: 4px;
    width: 150px;
    padding: 3px 6px;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 1px 4px #4b3434;
    cursor: pointer;
}
.copyright,
.richa {
    text-align: center;
}
.copyright {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #4b3434;
}
.richa {
    margin-top: 10%;
    font-size: 15px;
    font-weight: 300;
}
.links {
    width: 200px;
    margin: 9% 16%;
}
.designer {
    color: #538f71;
}
.designer:hover {
    text-decoration: underline;
}
nav {
    top: 25px;
    right: 0;
    height: 50px;
    position: fixed;
}
.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navigation {
    display: inline;
    color: #d16624;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 501;
    margin-right: 70px;
    text-shadow: 2px 1px 3px #4b3434;
}
.navigation:hover {
    color: #ff914d;
}
.active {
    color: #ff914d;
}
.book {
    display: block;
    margin-left: 400px;
}
.featured-book {
    margin-top: 100px;
}
.reviews {
    width: 450px;
    float: right;
    margin-right: 100px;
    overflow: hidden;
}
.comment,
.reviewer {
    justify-content: center;
    text-align: center;
}
.comment {
    padding: 30px 30px 45px 30px;
    border: 3px solid #d16624;
    border-radius: 10px;
}
.reviewer {
    font-weight: bold;
    color: #faf3f3;
    height: 25px;
    width: 300px;
    background-color: #d16624;
    border-radius: 3px;
}
*/
.column1 {
/*  background-color: #ffc771;
    float: left;
    height: max-content;
    position: fixed;
*/
    grid-column-start: auto;
}
.column2 {
    grid-column-end: auto;
}